/* variables */
$color-jet: #353535;
$color-lightblue: #3c6e71;
$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-blue: #284b63;
$transition: all 0.3s linear;
$box-shadow: 1px -1px 5px 4px rgba(53, 53, 53, 0.72);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: $transition;
  font-family: montserrat, sans-serif;

  ::selection {
    background-color: $color-blue;
    color: $color-white;
  }
}
a {
  color: $color-white;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $color-lightblue;
  }
}
/* same classes */
.page-title {
  word-wrap: break-word;
  margin: 1em auto 0;
  padding-bottom: 0.3em;
  text-align: center;
  color: $color-grey;
  width: fit-content;
  border-bottom: 2px solid $color-lightblue;
}

.form-container {
  background-color: $color-white;
  box-shadow: $box-shadow;
  max-width: 85vw;
  width: 20em;
  margin: 3em auto 2em;
  border-radius: 10px;
  word-wrap: break-word;
  .user-exists {
    color: $color-lightblue;
    text-align: center;
  }
}

.form-error {
  color: red;
  font-size: 0.8em;
  margin: 0.8em 0;
}

// success modal
.model {
  height: 100%;
  background-color: #353535e7;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .model-content {
    background-color: #fff;
    padding: 5em 1em;
    font-size: 1em;
  }
}

/* end of same classes */

//error page
.error {
  width: 100%;
  height: 91vh;
  background-color: #284b63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-grey;
  padding: 0 1em;
  h1 {
    font-size: 3em;
    text-align: center;
    line-height: 1.5;
    word-wrap: break-word;
  }
  a {
    margin-top: 1em;
    font-size: 1.3em;
    background-color: $color-lightblue;
    padding: 1em 0.5em;
    border-radius: 30px;
    &:hover {
      color: $color-blue;
      background-color: $color-white;
    }
  }
}

/* navbar */

.nav {
  width: 100%;
  background-color: $color-jet;
  .nav-center {
    width: 85%;
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $color-white;
      text-decoration: none;
      &:hover {
        color: $color-lightblue;
      }
    }

    .logo {
      font-size: 2em;
    }

    .nav-links {
      list-style-type: none;
      display: flex;

      li {
        margin-left: 1em;
        font-size: 1.2em;
      }

      .navbar-username {
        cursor: default;
        color: #38e0e9;
        text-decoration: none;
        transition: $transition;
        &:hover {
          color: $color-grey;
        }
      }
    }
  }
}
/* end of navbar */

/* home */
.home {
  h1 {
    color: $color-jet;
  }
}
/* end of home */

/* signup page */

.signup-page,
.login-page {
  .form-container {
    padding: 1em 1.5em;
    h1 {
      text-align: center;
      color: $color-jet;
    }
    form {
      margin-top: 1em;

      ::placeholder {
        color: $color-jet;
      }

      .input {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        input {
          padding: 1em 0 0;
          border: none;
          border-bottom: 3px solid $color-jet;
          position: relative;
          z-index: 5;
          color: $color-jet;
          font-size: 1em;
          transition: $transition;
          outline: none;
        }

        label {
          position: relative;
          z-index: 6;
          top: -30px;
          pointer-events: none;
          transition: 0.2s linear;
        }
        input:focus,
        input:valid {
          border-bottom: 4px solid green;
        }

        input:focus ~ label,
        input:valid ~ label {
          transform: translateY(-20px);
        }
      }

      .signup-button {
        padding: 0.8em 0;
        border-radius: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: $color-blue;
        color: $color-white;
        font-size: 1.2em;
        transition: $transition;
        &:hover {
          background-color: $color-jet;
          color: $color-white;
        }
      }
    }
  }
}

/* end of signup page */
